.fileViewer {
    background-color: #0000004d;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-content: flex-start;
    gap: 8px;
    
    height: 65vh;
    padding: 32px 16px;
    border-radius: 0.25rem;
    border: 2px solid #9fb0e99c;

    overflow-y: auto;
    overflow-x: hidden;
}

.fileViewer__item {
    background-color: #9fb0e99c;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;

    width: max(calc(50% - 4px), 260px);
    border-radius: 0.15rem;

    cursor: pointer;
    transition: 150ms;
}

#fileAnchor {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    padding: 4px;
    min-height: 60px;
    width: 100%;
}

.fileViewer__item:hover {
    background-color: #607fe5ca;
}

.fileViewer__item img {
    width: min(60px, 20%);
}

.fileViewer__item span {
    color: black;
    align-self: flex-start;
    padding-top: 2px;
    font-size: 1rem;

    word-break: break-all;
}

#xis {
    color: #e1e7f0b7;
    align-self: center;
    margin-left: auto;
    padding: 6px 8px;
    font-weight: bold;

    transition: 200ms;
}

#xis:hover {
    color: #e1e7f0ff;
    transform: scale(1.1);
}

@media (max-width: 652px) {
    .fileViewer__item {
        width: 100%;
    }
}