.sendfiles {
    display: inline-block;
    width: max(32%, 320px);
    margin: 20px 0;
}

.sendfiles h2 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 16px;
}

.sendfiles form {
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    gap: 32px;
    margin: 16px 0;
}

.sendfiles button {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    border-radius: 0.25rem;

    padding: 8px 14px;
    color: #fff;
    background-color: #4e66ee;
    border: 1px solid #4e66ee;

    transition: 200ms ease-out;
}