#uploadConfigs {
    background-color: #00000047;
    padding: 34px;
    max-width: 800px;
    margin: 0 auto;
}

#uploadConfigs > h5 {
    font-size: 1.25rem;
    margin-bottom: 1.25rem;
}

.filesNo {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 40px;
}

.filesNo label {
    display: inline-block;
    user-select: none;
    cursor: pointer;
    border-radius: .25rem;
    
    padding: 8px 14px;
    color: #fff;
    background-color: #5c6ab9;
    opacity: .7;

    transition: 200ms ease-out;
}

.filesNo input:checked + label {
    background-color: #4e66ee;
    opacity: 1;
    cursor: default;
}

.allowedExtensions {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    gap: 1rem;
    margin-bottom: 40px;
}

.allowedExtensions label {
    display: inline-block;
    user-select: none;
    opacity: .8;

    color: #fff;
    background-color: #5c6ab9;
    padding: 8px 14px;
    border-radius: .25rem;

    cursor: pointer;
    transition: 200ms ease-out;
}

.allowedExtensions input:checked + label {
    background-color: #4e66ee;
    opacity: 1;
}