body {
    background-color: #2b447a;
    color: aliceblue;
}

.files {
    display: flex;
    width: min(100vw, 1280px);
    max-width: calc(100vw - 17px);
    margin: 0 auto;

    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;

    height: 75vh;
}

aside {
    display: inline-block;
    width: min(720px, 90%); 
}

aside h4 {
    text-align: center;
    font-size: min(32px, 5vh);
    font-weight: bold;
    padding: min(16px, 4vh);
    
    max-height: 10vh;
}

#about hr {
    margin: 40px 0;
}

#notify {
    position: fixed;
    bottom: 40px;
    left: calc(50vw - 220px);
    width: 440px;
    max-width: 440px;
    display: flex;
    justify-content: center;

    opacity: 0;
    animation: notifying 4000ms ease forwards;
}

#notify > span {
    color: black;
    background-color: #ffffff3e;
    padding: 20px;
    max-width: 100%;
    text-align: center;
    border-radius: 10px;
}

@keyframes notifying {
    0% {
        transform: translateY(40px);
    }
    20% {
        transform: translateY(0px);
        opacity: 1;
    }
    80% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        display: none;
    }
}

@media (max-width: 1125px) {
    .files {
        height: fit-content;
    }
}