body {
    background-color: #2b447a;
    color: aliceblue;
}

.files {
    display: flex;
    width: min(100vw, 1280px);
    margin: 40px auto;

    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-flow: row wrap;
}

.sendfiles {
    display: inline-block;
    background-color: chocolate;
    width: max(36%, 340px);
    padding: 40px;
}

aside {
    display: inline-block;
    width: min(720px, 90%); 
}

aside h4 {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    padding: 16px;
}