:root {
    --main-color: #FFC600;
    --bg-color: #212121;
    --bg-color2: #21212180;
    --secondary: #454545;
    --sub1: #9E9E9E;
    --sub2: #575757;
    --sub3: #4C4C4C;
    --text-color: #C9C9C9;
}

@font-face {
    font-family: K2D SemiBold;
    src: url(../assets/fonts/K2D-SemiBold.ttf);
}

@font-face {
    font-family: K2D ExtraLight;
    src: url(../assets/fonts/K2D-ExtraLight.ttf);
}

@font-face {
    font-family: Glory;
    src: url(../assets/fonts/Glory.ttf);
}

body {
    background-color: var(--bg-color);
    padding-bottom: 35px;
}

#notice-container {
    position: fixed;
    bottom: 60px;
    left: 0;
    width: 100vw;
    display: flex;
    justify-content: center;

    animation: notify 5000ms forwards;
}

#notice-container > span {
    background-color: var(--bg-color);
    width: fit-content;
    max-width: min(1080px, 96vw);
    padding: 20px 28px;

    color: var(--text-color);
    font-family: K2D Extralight;
    text-align: center;
    word-wrap: break-word;

    border-radius: 10px;
    border: 1px solid var(--main-color);
    box-shadow: 0 2px 8px 0 #00000040;
}

@keyframes notify {
    0% {
        opacity: 0;
        transform: translateY(60px);
    }
    20%, 80% {
        opacity: 1;
        transform: translateY(0);
    }
    99% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vw);
    }
}