:root {
    --main-color: #FFC600;
    --bg-color: #212121;
    --bg-color2: #0000006c;
    --secondary: #454545;
    --sub1: #9E9E9E;
    --sub2: #575757;
    --sub3: #4C4C4C;
    --text-color: #C9C9C9;
}

@font-face {
    font-family: K2D SemiBold;
    src: url(../assets/fonts/K2D-SemiBold.ttf);
}

@font-face {
    font-family: K2D ExtraLight;
    src: url(../assets/fonts/K2D-ExtraLight.ttf);
}

@font-face {
    font-family: Glory;
    src: url(../assets/fonts/Glory.ttf);
}

@keyframes pop-disappear {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    4% {
        transform: scale(1.013);
    }
    5%, 88% {
        opacity: 1;
        transform: scale(1);
    }
    99% {
        opacity: 0;
        transform: translateY(0);
    }
    100% {
        transform: translateY(100vw);
    }
}

@keyframes pop-stay {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    20% {
        transform: scale(1.013);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
}

body {
    background-color: var(--bg-color);
    padding-bottom: 35px;
}