:root {
    --main-color: #FFC600;
    --bg-color: #212121;
    --bg-color2: #21212180;
    --secondary: #454545;
    --sub1: #9E9E9E;
    --sub2: #575757;
    --sub3: #4C4C4C;
    --text-color: #C9C9C9;
}

@font-face {
    font-family: K2D SemiBold;
    src: url(../assets/fonts/K2D-SemiBold.ttf);
}

@font-face {
    font-family: K2D ExtraLight;
    src: url(../assets/fonts/K2D-ExtraLight.ttf);
}

@font-face {
    font-family: Glory;
    src: url(../assets/fonts/Glory.ttf);
}

body {
    background-color: var(--bg-color);
    padding-bottom: 35px;
}

@media screen and (min-width: 700) {
    body {
        background-color: red;
    }
}