#upload-container {
    background-color: var(--bg-color2);
    font-family: sans-serif;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    /* display: none; */
    justify-content: center;
    align-items: center;
}

#upload-container > form {
    background-color: var(--bg-color);
    background-image: linear-gradient(10deg, var(--bg-color) 70%, #000000 100%);

    padding: 20px;
    width: min(420px, 82vw);
    border-radius: 11px;
    box-shadow: 0 2px 8px 0 #00000040;
}

#upload-container > form > h2 {
    color: var(--text-color);
    margin-bottom: 35px;
    text-align: center;
    font-weight: 100;
    font-size: 22px;
    text-transform: capitalize;
}

.upload__box {
    background-color: #ffffff31;
    display: block;
    padding: 40px 40px;
    text-align: center;
    width: min(290px, 100%);
    border-radius: 10px;
    border: dashed 2px var(--main-color);
    margin: 8px auto;

    opacity: 0.9;
    cursor: pointer;
    transition: 350ms;
}

.upload__box:hover {
    opacity: 1;
}

.upload__box > p {
    color: var(--main-color);
    text-transform: uppercase;
}

#upload__file-name {
    color: var(--sub1);
    margin-top: 10px;
    display: inline-block;
}

.upload__btns-container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.upload__btn {
    background-color: unset;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 8px 0 #00000040;

    cursor: pointer;
    opacity: 0.85;
    transition: 300ms;
}

.upload__btn:hover {
    opacity: 1;
}

#upload__sent-btn {
    background-color: var(--text-color);
    color: var(--bg-color);
}

#upload__cancel-btn {
    border: 1px solid var(--text-color);
    color: var(--text-color);
}