#upload-container {
    background-color: var(--bg-color2);
    font-family: sans-serif;

    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    display: none;
    justify-content: center;
    align-items: center;
}

#upload-form {
    background-color: var(--bg-color);

    padding: 20px;
    width: min(420px, 82vw);
    border-radius: 11px;
    box-shadow: 0 2px 8px 0 #00000040;

    animation: show-container 1000ms forwards;
}

.upload__box {
    background-color: #ffffff13;
    display: flex;
    justify-content: center;
    width: min(290px, 100%);
    max-height: 60vh;
    margin: 8px auto;
    padding: 40px 40px;

    border-radius: 10px;
    border: 2px dashed var(--sub1);
    overflow: scroll;
    text-align: center;
    
    opacity: 0.85;
    cursor: pointer;
    transition: 350ms;
}

.upload__box:hover {
    opacity: 1;
}

.upload__box > img {
    display: block;
    padding: 0 20px;
    margin: 0 auto;
    max-width: 100px;
    box-sizing: border-box;
    color: var(--main-color);
    text-transform: uppercase;
    animation: upload-bounce 3000ms 500ms ease infinite;
}

.box--filled > img {
    display: none;
}

.box--filled {
    border: 1px solid var(--sub1);
    display: flex;
    flex-flow: row wrap;
    padding: 10px;
    width: 100%;
}

.box--filled .upload__name {
    background-color: var(--sub2);
    color: var(--text-color);
    width: fit-content;
    max-width: 100%;
    margin: 6px 4px;
    padding: 10px 15px;
    word-wrap: break-word;

    border-radius: 6px;
    box-shadow: 0 2px 8px 0 #00000040;
}

#upload__btns-container {
    margin-top: 25px;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.upload__btn {
    background-color: unset;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 2px 8px 0 #00000040;
    border: 1px solid var(--main-color);

    cursor: pointer;
    opacity: 0.8;
    transition: 500ms;
}

.upload__btn:hover {
    opacity: 1;
}

#upload__sent-btn {
    background-color: var(--bg-color);
    border: 1px solid var(--main-color);
    color: var(--main-color);
}

#upload__cancel-btn {
    background-color: var(--main-color);
    color: var(--bg-color);
}

@keyframes show-container {
    0% {
        opacity: 0;
        transform: scale(0.95);
    }
    20% {
        transform: scale(1.013);
    }
    40% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes upload-bounce {
	0%, 20%, 50%, 70%, 100% {
        transform: translateY(0);
    }
	10% {
        transform: translateY(-15px);
    }
	30% {
        transform: translateY(-5px);
    }
}